<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

  </head>
  <body>
	<div class="navbar">
		<div class="container">
			<div class="navbar-header"><!-- 导航header -->
				<a class="navbar-brand" title="Blazer's Space" href="">
			</div>
			<div class="navbar-body"><!-- 导航body -->
				<ul>
					<li>Archive</li>
					<li>Categories</li>
					<li>About</li>
					<li>Tags</li>
				</ul>
				<ul>
					<li><input type="text" placeholder="Search"></li>
					<li>Github</li><!-- font-awesome -->
					<li>Name</li>
				</ul>
			</div>
		</div>
	</div>

    <div class="container"><!-- 中间 -->
		<div class="content">
			<article>
				<div class="wrapper">
					My Blog Post<br>
					{{ content }}
				</div>
			</article>
			<asidde class="right">
				<section>
					<h4>Categories</h4>
					<div>
						<ul>
							<li><a href="">linux<span>39</span></a></li>
						</ul>
					</div>
				</section>
			</aside>
		</div>
		<footer class="text-left">
			<p>This project is maintained by <a href="https://github.com/blazen">blazen</a></p>
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
    </div>

  </body>
</html>