<!DOCTYPE>
<html>
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
	<link rel="stylesheet" href="stylesheets/jf.css" />
	<link rel="stylesheet" href="stylesheets/jj.css" />
  </head>
  
  <body>
    <div class="navbar">
			<div class="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#">
						<small>
							<i class="icon-leaf"></i>
							My Aotumation System
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right">
					<ul>
						<li>
							<a href="#">
								<i class="icon-tasks"></i>
								<span class="">4</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img class="nav-user-photo" src="" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎光临,</small>
									Jason
								</span>
								<i class="icon-caret-down"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<a href="apply_queryAll.action">Go System Manager</a>
	{{ content }}
  </body>
</html>
