<!DOCTYPE>
<html>
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
	<link rel="stylesheet" href="stylesheets/jf.css" />
	<link rel="stylesheet" href="stylesheets/jj.css" />
  </head>
  
  <body>
    <div class="navbar">
			<div class="navbar-container">
				<div>
					<a href="#">
						<small>
							<i class="icon-leaf"></i>
							My Aotumation System
						</small>
					</a>
				</div>
				<div class="navbar-header pull-right">
					<ul>
						<li><a href="">Archive</a></li>
						<li><a href="">Categories</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Tags</a></li>
					</ul>

					<ul>
						<li>
							<a href="#">
								<span class="fa fa-weibo fa-lg"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-github fa-lg"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa fa-rss fa-lg"></span>
							</a>
						</li>
					</ul>
			    </div>
		   </div>
	</div>

	<div class="container"><!-- 中间 -->
		<div class="content">
			<article>
				<div class="wrapper">
					{{ content }}
				</div>
			</article>
			<asidde class="right">
				<section>
					<h4>Categories</h4>
					<div>
						<ul>
							<li><a href="">linux<span>39</span></a></li>
						</ul>
					</div>
				</section>
			</aside>
		</div>
		<footer class="text-left">
			<p>This project is maintained by <a href="https://github.com/blazen">blazen</a></p>
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
    </div>
  </body>
</html>
